body{
  width: 95%;
  max-width: 850px;
  margin: auto;
  background-color: #E6CAF1;

  font-family: 'Mochiy Pop One', sans-serif;

}

.logo{
  text-align: center;
  min-width: 1000px;

}


.mini{
  max-width: 50px;
}
